body {
    color: white;
}

.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

/* Header */
#header-top {
    background-color: #2c3e50;
    min-height: 100px;
}

#header-bottom {
    padding: 80px 15px;
    background-color: #1abc9c;
}

#header-bottom img{
    height: 260px;
}

.star > i {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

/* Main */

#main-top {
    padding: 80px 0;
    background-color: white;
    color: black;
}

.portfolio_item {
    /* border-radius: 10px; */
    height: 250px;
    margin: 15px 0;
}

#main-top img {
    height: 100%;
    border-radius: 10px;
}

#main-central {
    padding: 60px 0;
    background-color: #1abc9c;
}

#main-central .btn-default {
    background-color: #1abc9c;
    color: white;
    margin-top: 30px;
}

#main-bottom {
    background-color: white;
    color: black;
    padding: 60px 0;
}

#main-bottom p:not(:last-child) {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

#main-bottom .btn-default {
    background-color: #1abc9c;
    color: white;
    margin-left: 10px;
    margin-top: 90px;
}

#footer-top {
    background-color: #3a546d;
    padding: 60px 0;
    text-align: center;
}

#footer-top span {
    color: #1abc9c;
}

#footer-top span > i {
    color: white;
    padding: 15px;
}

#footer-bottom {
    background-color: #2c3e50;
    text-align: center;
    height: 70px;
    line-height: 70px;
}